*{
  box-sizing: border-box;
  background-color: blueviolet;
}
body{
  background-color: rgb(blueviolet);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  margin: 0;
}
.container{
  background-color: orange;
  box-shadow: blue;
  width: 400px;
  max-width: 400%;
}
.header{
  background-color: yellow;
  border-bottom: 2px solid;
  padding: 20px 40px;
}
#results{
  background-color: beige;
}
p{
  font-style: italic;
}
.description{
  color: beige;
}
.image{
padding-right: 5%;

}